@import "tailwindcss";
@import "tw-animate-css";

@import "../css/base.css";
@import "../css/theme.css";

.text-balance {
  text-wrap: balance;
}

.gradient-bg {
  background: linear-gradient(135deg, #e074a3 0%, #d16d9a 50%, #c36691 100%);
}

.gradient-text {
  background: linear-gradient(135deg, #e074a3 0%, #c36691 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
